* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header ul li a {
  text-decoration: none;
  color: rgba(66, 66, 66, 1);
  font-weight: 300;
  font-size: 14px;
}

.header ul li a span {
  font-weight: 700;
  color: rgba(90, 71, 171, 1);
}

.nav-logo {
  display: flex;
  align-items: center;
}

.head-logo {
  width: 200px;
  padding-right: 10px;
}